@import '../../assests/view.scss';


.mainpage {
    width: 100%;
    display: grid;
    grid-template-columns: 300px 1fr 500px;;
    height: 100vh;
    background-color: #111;
    color: white;
  
    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
    }
  
    .song-list-panel {
      padding: 1rem;
      overflow-y: auto;
      border-left: 1px solid #222;
      border-right: 1px solid #222;
      &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 10px;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }
    
      scrollbar-width: thin;
      scrollbar-color: rgba(255, 255, 255, 0.4) transparent;
    }
  
    .player-panel {
      padding: 1rem;
      background-color: #1a1a1a;
      border-left: 1px solid #222;
  
      @media (max-width: 1024px) {
        border-top: 1px solid #222;
      }
    }
  }
  